body{
    width: 100%;
}

header{
    height: 100px ;
    width: 100%;
    background: url(../img/pattern.png);
    background-color: rgb(114, 164, 255);
    background-size: contain;
    position: relative;
}

footer{
    margin-top: 100px;
}

h1{
    font-size: 50px;
}

table{
    width: 100%;
    border-collapse: collapse;

}
td{
    width: 33.333333%;
}

tr:nth-child(odd) {
    background-color: #b3d2ff;
}

.foto{
    width: 49%;
}

.mark{
    background-color: yellow;
}

.footer-foto{
    height: 200px;
    width: 300px;
    color: rgb(255, 255, 255);
    padding: 15px;
    position: relative;
    margin: 10px;
    font-size: 30px;
}

.text-foto{
    position: absolute;
    top: 5px;
    left: 5px;
}

.foto-uno{
background-image: url(../img/graph.jpg);
background-size: cover;
}

.foto-due{
    background-image: url(../img/monitor.jpg);
    background-size: cover;
}
    
.footer-title{
    color: rgb(130, 130, 130); 
}  

.subtitle, #data-title{
    color: rgb(130, 130, 130);
}

.logo{
    width: 15%;
    bottom: 2%;
    left: 2%;
    position: absolute;
}

#title{
    width: 100%;
}
  
#writer{
    color: rgb(48, 175, 230);
}

#data-title{
    font-size: 10px;
}

#title-table{
    background: dodgerblue;
    color: white;
}